header {
    padding: 1.8rem $gutter;
    h1 {font-size: 2rem;}
}

// MAIN 
div.allCards {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
    section {
        flex-basis: calc(50% - ($gutter/2))
    }
}

// FOOTER
footer div {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}