$primaryColor: rgb(37, 77, 69);
$secondaryColor: #C98392;
$fontColor: #333;
$backgroundColor: #f6f3ed;

$defaultFont: "Dosis", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;